body {
    background: linear-gradient(to bottom, #ffdd9f, #0d0f0d);
    font-family: 'Arial', sans-serif;
}

.data-container, .info-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-items: center;
}

.hidden {
    display: none;
}

.card-box {
    background: #ffdd9f;
    width: 200px;
    border-radius: 102px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;
}

.card-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px #ed0505c9;
    background-color: #011112;
}

.card-box h1 {
    font-size: 20px;
    color: #fb0e0e;
    margin-bottom: 10px;
}

.card-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.card-box:hover img {
    transform: scale(1.05);
}

.card-box p {
    font-size: 14px;
    color: #f01414;
    margin: 0;
}

