.directory {
    cursor: pointer;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
}

.directory.open > .directory-content {
    display: block;
}

.directory-content {
    display: none;
    margin-left: 20px;
}

