.header {
    background-image: url("apples.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1500px;
}

.logo {
    color: white;
    font-size: 54px;
    margin-left: 550px;
    margin-top: 0px;
    transform: translate(10px, 50px); 
}

.header-top {
    margin-top: 300px;
    padding: 10px;
}

.nav {
    margin: 0px;
    padding: 20px;
    text-align: end;
    margin-top: -400px;
}

.nav li {
    display: inline;
    text-align: end;
    transform: translate(10px, 50px); 
}

.nav a {
    padding: 5px 7px 10px 7px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.paragraph-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.paragraph-1 {
    width: 300px;
    margin-left: 40px;
    margin-top: 520px;
    text-align: justify;
    line-height: 1.6;
}

.paragraph-2 {
    width: 500px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
    margin-top: 520px;
    margin-left: 600px;
}

.body {
    margin: 0px;
    padding: 0%;
    background-color: #bebdbd67;
}

.main {
    padding-bottom: 40px;
    background-color: #dadada;
    column-gap: 20px;
    padding: 140px;
}
.show-more-btn{
    margin: 100px;
    margin-top: 220px;
   margin-left: 620px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);

    background-color:rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}
.article {
    gap: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
    align-items: center;
    position: relative;
}

.article img {
    width: 100%;
    height: auto;
    position: relative;
}

.like-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
    z-index: 1;
}

.article-date {
    position: absolute;
    bottom: 10px;
    left: 610px;
    z-index: 1;
    color: #a2a2a2;
}

.newsletter-form {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    padding: 40px;
}

.email-input {
    width: 700px;
    height: 50px;
}

.subscribe-btn {
    width: 100px;
    height: 56px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}

.footer {
    padding: 0 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.footer-item {
    padding: 50px;
    width: 230px;
}

.footer-end {
    display: flex;
    flex-direction: row;
}

.subscribe-btn-footer {
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}

.email-input-footer {
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}

.footer-links {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer-links ul {
    margin: 10px;
    padding: 0px;
    text-align: end;
}

.footer-links li {
    display: inline;
    text-align: end;
}

.footer-links a {
    padding: 5px 7px 10px 7px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
